header{
    top: 0;
}

body{
    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    background-color:lightcoral;
    color: white;
    height: 40px;
    width: 100%;
    margin: 10px;
    font-size: 30px;

}